html {
    background-color: white;
    margin: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%
}

section {
    margin: 2em;
}

header {
    background-color: rgb(79, 133, 175);
    height:120%;
}

h1 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(241, 241, 241);
    padding: 5px 10px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray
}

p {
    font-size: 1.2em;
}

iframe {
    border: none;
    transform: scale(0.8)
}

